name: it-tools

networks:
  docker-net:
    name: docker-net
    external: true

services:
  it-tools:
    image: ghcr.io/corentinth/it-tools:nightly
    container_name: it-tools
    hostname: it-tools
    restart: always
    expose:
      - 80
    networks:
      - docker-net
