name: filebrowser

volumes:
  filebrowser:
    name: filebrowser
    external: false

networks:
  docker-net:
    name: docker-net
    external: true

services:
  filebrowser:
    image: hurlenko/filebrowser:v2.53.0
    container_name: filebrowser
    hostname: filebrowser
    restart: always
    expose:
      - 8080
    volumes:
      - /media/sda/volumes/:/data:Z
      - filebrowser:/config
      - filebrowser:/database.db
      - filebrowser:/.filebrowser.json
    networks:
      - docker-net
