name: jellyfin

volumes:
  jellyfin:
    name: jellyfin
    external: false

networks:
  docker-net:
    name: docker-net
    external: true

services:
  jellyfin:
    image: jellyfin/jellyfin:10.10.1
    # cambio la imagen, probar !!!!
    # image: ghcr.io/jellyfin/jellyfin:2025122905
    container_name: jellyfin
    hostname: jellyfin
    restart: always
    environment:
      PUID: 1000
      PGID: 1000
      TZ: America/Argentina/Buenos_Aires
    expose:
      - 8096
    volumes:
      - jellyfin:/config
      - /media/sda/volumes/jellyfin:/media:Z
    networks:
      - docker-net
