name: dozzle

networks:
  docker-net:
    name: docker-net
    external: true

services:
  dozzle:
    image: amir20/dozzle:master
    container_name: dozzle
    hostname: dozzle
    restart: always
    expose:
      - 8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - docker-net
