name: portainer

volumes:
  portainer:
    name: portainer
    external: false

networks:
  docker-net:
    name: docker-net
    external: true

services:
  portainer:
    image: portainer/portainer-ce:2.33.6
    container_name: portainer
    hostname: portainer
    restart: always
    expose:
      - 9000
      - 8000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - portainer:/data:rw
    networks:
      - docker-net
