name: excalidraw

networks:
  docker-net:
    name: docker-net
    external: true
services:
  excalidraw:
    image: docker.io/excalidraw/excalidraw:sha-4bfc5bb
    container_name: excalidraw
    hostname: excalidraw
    restart: always
    expose:
      - 80
    networks:
      - docker-net
